<nav>
  <h1><a href="/">Healthy Smoothies</a></h1>
  <ul>
    <% if (user) { %>
    <li>Welcome, <%= user.email %></li>
    <li><a href="/logout">Log Out</a></li>
    <%} else {%>
    <li><a href="/login">Log In</a></li>
    <li><a href="/signup" class="btn">Sign Up</a></li>
    <% } %>
  </ul>
</nav>
