<%- include('partials/header'); -%>

<ul class="recipes">
    <li class="recipes">
        <img src="/public/smoothies.png" alt="smoothie recipes icon">
        <h4>Banana Boost</h4>
        <p>Banana, Venilla ice cream, Milk</p>
    </li>
    <li class="recipes">
        <img src="/public/smoothies.png" alt="smoothie recipes icon">
        <h4>Apple Boost</h4>
        <p>Apple, Venilla ice cream, Milk</p>
    </li>
    <li class="recipes">
        <img src="/public/smoothies.png" alt="smoothie recipes icon">
        <h4>Carrot Boost</h4>
        <p>Carrot, Venilla ice cream, Milk</p>
    </li>
    <li class="recipes">
        <img src="/public/smoothies.png" alt="smoothie recipes icon">
        <h4>Beatroot Boost</h4>
        <p>Beatroot, Venilla ice cream, Milk</p>
    </li>
    <li class="recipes">
        <img src="/public/smoothies.png" alt="smoothie recipes icon">
        <h4>Pinapple Boost</h4>
        <p>Pineapple, Venilla ice cream, Milk</p>
    </li>
    <li class="recipes">
        <img src="/public/smoothies.png" alt="smoothie recipes icon">
        <h4>Orange Boost</h4>
        <p>Orange, Venilla ice cream, Milk</p>
    </li>
</ul>    