<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Healthy Smoothies</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('partials/navbar'); -%>
    <header>
      <img
        src="/Rainbow-Smoothie.jpg"
        style="height: 330px; width: 200px; border-radius: 30px"
        alt="smoothies"
      />
      <div class="headings">
        <h2>Smoothies Recipes</h2>
        <h3>By MuraliShankar</h3>
        <a href="/smoothies" class="btn">View Recipes</a>
      </div>
    </header>
    <%- include('partials/footer'); -%>
  </body>
</html>
