<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head'); -%>
  <body>
    <%- include('../partials/navbar'); -%>
    <ul class="recipes">
      <li class="recipe">
        <img
          src="/1.jpg"
          style="height: 330px; width: 200px; border-radius: 30px"
          alt="smoothie recipes icon"
        />
        <h4>Starberry Boost</h4>
        <p>Starberry,Grapes & Venilla ice cream</p>
      </li>
      <li class="recipe">
        <img
          src="/2.jpg"
          style="height: 330px; width: 200px; border-radius: 30px"
          alt="smoothie recipes icon"
        />
        <h4>Banana Boost</h4>
        <p>Banana,Cherry & Venilla ice cream</p>
      </li>
      <li class="recipe">
        <img
          src="/3.jpg"
          style="height: 330px; width: 200px; border-radius: 30px"
          alt="smoothie recipes icon"
        />
        <h4>Mangoe Boost</h4>
        <p>Mangoe,Mint & Venilla ice cream</p>
      </li>
      <li class="recipe">
        <img
          src="/4.jpg"
          style="height: 330px; width: 200px; border-radius: 30px"
          alt="smoothie recipes icon"
        />
        <h4>Biscuit Boost</h4>
        <p>Biscuit,Banana & Venilla ice cream</p>
      </li>
      <li class="recipe">
        <img
          src="/5.jpg"
          style="height: 330px; width: 200px; border-radius: 30px"
          alt="smoothie recipes icon"
        />
        <h4>Apple Boost</h4>
        <p>Apple & Venilla ice cream</p>
      </li>
      <li class="recipe">
        <img
          src="/6.jpg"
          style="height: 330px; width: 200px; border-radius: 30px"
          alt="smoothie recipes icon"
        />
        <h4>Chocolate Boost</h4>
        <p>Chocolate & Venilla ice cream</p>
      </li>
    </ul>
    <%- include('../partials/footer'); -%>
  </body>
</html>
